:host {
  display: flex;
  padding: 16px;
  align-content: center;

  .cocktails-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  @media (max-width: 768px) {
    padding: 0;

    .cocktails-container {
      gap: 0;
    }
  }
}
