<div class="tools-bar">
  <p-floatLabel>
    <input pInputText id="name" [formControl]="nameControl"/>
    <label for="name">Введите название коктейля</label>
  </p-floatLabel>
  <p-button icon="pi pi-search" severity="success" [tabindex]="1" (click)="setName()"/>
  <p-button icon="pi pi-heart" severity="help" [tabindex]="2" (click)="openRandom()"/>
</div>
@defer (on idle; when name()) {
  @if (name()) {
    <app-cocktails [name]="name()"></app-cocktails>
  } @else {
    Тут будут коктейли, когда вы введете и нажмете
  }
}
